{% extends "base.html" %}

{% block content %}
<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Detalles de la Orden</h2>
    <div class="mb-2">
        <span class="text-lg font-semibold">Usuario: </span>
        <span class="text-lg">{{ order.user.username|title }}</span>
    </div>
    <div class="mb-2">
        <span class="text-lg font-semibold">Fecha de la Orden: </span>
        <span class="text-lg">{{ order.order_date|date}}</span>
    </div>

    <div class="mt-6">
        <h3 class="text-xl font-bold mb-2">Artículos en tu orden:</h3>
        {% for product_order in order.orderproduct_set.all %}
            <div class="flex justify-between items-center py-2 border-b">
                <div class="text-lg">{{ product_order.product.name }}</div>
                <div class="text-lg font-semibold">{{ product_order.product.price }}</div>
            </div>
        {% empty %}
            <div class="text-red-500">No hay artículos en tu orden</div>
        {% endfor %}
    </div>

    {% if order.orderproduct_set.exists %}
        <div class="mt-6">
            <a href="{% url 'generate_ticket' ticket_id=ticket.id %}" 
               class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors">
                Descargar Ticket
            </a>
        </div>
    {% endif %}
</div>
{% endblock content %}